<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="main_title">
          <h2 style="font-size: 24px;"><span>{{title}}</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let productInfo of productsData" >
        <div href="#" class="card card-product-grid" (click)="productDetails(productInfo.id)">
          <a href="#" class="img-wrap">
            <img src={{productInfo.images}}>
          </a>
          <figcaption class="info-wrap">
            <div class="text-overflow w-100">{{productInfo.name}}</div>
            <div class="rating-wrap">
              <ngb-rating [rate]="currentRate" (hover)="hovered=$event" (leave)="hovered=0">
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                  </span>
                </ng-template>
              </ngb-rating>
              <span class="label-rating text-muted"> 34 reviws</span>
            </div>
            <div class="price mt-1">{{productInfo.price | currency}}</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
    </div>
  </div>
</section>
