<app-image-slider></app-image-slider>
<div class="container " >
  <article class="card card-body margin-bottom-70" style="margin-top: 40px">
    <div class="row">
      <div class="col-md-4">
        <figure class="item-feature">
          <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
          <figcaption class="pt-3">
            <h5 class="title">Fast delivery</h5>
            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </div><!-- col // -->
      <div class="col-md-4">
        <figure class="item-feature">
          <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>
          <figcaption class="pt-3">
            <h5 class="title">Creative Strategy</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </div><!-- col // -->
      <div class="col-md-4">
        <figure class="item-feature">
          <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
          <figcaption class="pt-3">
            <h5 class="title">High secured </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </div> <!-- col // -->
    </div>
  </article>
  <app-product-display [title]= productDisplayTypes[0]
                       [productsData]="mostSelling">

  </app-product-display>
  <app-product-display [title]= productDisplayTypes[1]
                       [productsData]="recentlyAdded">

  </app-product-display>
  <app-product-display [title]= productDisplayTypes[2]
                       [productsData]="featuredProducts">

  </app-product-display>
</div>



