<h1 align="center" class="display-4 mb-5">{{title}}</h1>

<div class="container">
  <div class="row card-deck text-center">
    <div *ngFor="let productInfo of page?.data" class="col-lg-4 ">
      <div class="card mb-4 border-0" (click)="goToProductDetailPage(productInfo)">
        <div class="text-center h-250" >
          <img class="card-img-top text-center w-75 " src="{{productInfo.images}}" alt="{{productInfo.name}}">
        </div>
        <div class="card-body">
          <div class="text-overflow font-weight-bold w-100">{{productInfo.name}}</div>
          <div class="text-center">
            <p class="card-test m-0 p-0">{{productInfo.brand}}</p>
            <p class="card-text">{{productInfo.price | currency}}</p>
            <p class="card-text">{{productInfo.stock > 5 ? 'In Stock' : 'only 5 left'}}</p>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>


<app-pagination  [currentPage]="page" ></app-pagination>
